* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  padding: 0 160px;
}

main {
  row-gap: 112px;
}

/* Header styles */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0 40px 0;
}

header nav ul {
  gap: 36px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

header nav ul li {
  text-align: center;
}

header nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header div {
  gap: 16px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
}

/* Hero-section styles */

.hero-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  align-items: center;
}

.hero-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
}

.center-text {
  text-align: center;
}

/* About-us-section styles */

.about-us-section {
  width: calc(100% + 320px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 -160px;
  padding: 40px 0;
  row-gap: 32px;
}

.cards-container {
  margin: 0 160px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.card {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 12px 16px;
}

.icon-container {
  padding: 12px;
  width: fit-content;
  border-radius: 4px;
}

/* How-it-works-section styles */

.how-it-works-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 32px;
}

.steps-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 32px;
    grid-template-rows: repeat(2, 1fr);
}

.step {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    height: 100%;
}

.step-img {
    border-radius: 4px;
    flex-grow: 1;
    object-fit: cover;
    width: 100%;
}

.step-header {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 12px;
}

.step-number{
    display: flex;
    padding: 8px;
    min-width: 54px;
    min-height: 54px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}