* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  padding: 0 160px;
}

/* Header styles */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0 40px 0;
}

header nav ul {
  gap: 36px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

header nav ul li {
  text-align: center;
}

header nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

header div {
  gap: 16px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
}

/* Hero-section styles */

.hero-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
}

.hero-img {
  max-width: 400px;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
}

.center-text {
  text-align: center;
}
